
params.input = "${WORKSPACE_BUCKET}/input/manifest_afr.csv"
params.outdir = "${WORKSPACE_BUCKET}/results"

params.reference = "gs://gcp-public-data--broad-references/hg38/v0/Homo_sapiens_assembly38.fasta"

process {
    withName: 'Telseq' {
        memory = '8 GB'
        cpus = 2
    }
}

process.container = "${ARTIFACT_REGISTRY_DOCKER_REPO}/florianzink/telseq_samtools:v0.1"

profiles {
    
   spot {
        google.batch.spot = true
        google.batch.maxSpotAttempts = 3
        errorStrategy = { task.exitStatus == 50001 ? 'retry' : 'finish'}
        maxRetries = 3
   }

}
